body {
  font-family: "Roboto", sans-serif;
  padding: none;
  background-color: aliceblue;
}
h2 {
  font-size: 15px;
  display: flex;
  padding: 20px;
}
header {
  display: flex;
  justify-content: center;
}
.cell {
  width: 20px;
  height: 20px;

  &.cellAlive {
    background-color: aquamarine;
  }

  &.cellDead {
    background-color: white;
  }
}
.mainDiv {
  background-color: aliceblue;
}
.sizeSelector {
  display: flex;
  &.rows-col {
    size: 30px;
    display: flex;
    justify-content: space-between;
  }
}

button {
  background-color: #ff5733;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
